.DirectionsBar {
    width: 100%;
    background-color: #00194B;
    box-shadow: 0px 2px 7px 1px rgba(0, 0, 0, 0.24);
    border-radius: 4px;
}

.DirectionsBar-Header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.DirectionsBar-Header-Input {
    width: 100%;
    background: transparent;
    color: white;
    font-size: 16px;
    padding: 12px 16px;
    outline: none;
    border: none;
}

.DirectionsBar-Header-Input::placeholder {
    color: rgba(255, 255, 255, 0.65);
}

.DirectionsBar-Header-Close {
    padding: 8px;
}

.DirectionsBar-Header-Close-Button {
    cursor: pointer;
    width: 24px;
    height: 24px;
}

.DirectionsBar-RouteSet {
    width: 100%;
    padding: 7px 16px;
    border: none;
    outline: none;
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
    font-size: 12px;
    border-radius: 4px;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    text-transform: uppercase;
    font-weight: 600;
    cursor: pointer;
    line-height: 24px;
    user-select: none;
}

.DirectionsBar-RouteSet > svg {
    float: right;
}