.SearchBar {
    width: 100%;
    background-color: white;
    box-shadow: 0px 2px 7px 1px rgba(0, 0, 0, 0.24);
    border-radius: 4px;
}

.SearchBar-Inputs {
    display: flex;
    flex-direction: row;
    height: 44px;
}

.SearchBar-Input {
    flex-grow: 1;
    background: transparent;
    font-size: 16px;
    padding: 12px 16px;
    outline: none;
    border: none;
}

.SearchBar-ModeButton::before {
    content: "";
    position: absolute;
    margin: 6px auto 6px -4px;
    border-left: 1px solid #ddd;
    height: 24px;
}

.SearchBar-ModeButton {
    text-align: right;
    padding: 4px;
}

.SearchBar-ModeButton-Icon {
    height: 36px;
    width: 36px;
    padding: 4px;
    cursor: pointer;
    border-radius: 50%;
}

.SearchBar-ModeButton-Icon:hover {
    background-color: rgba(0, 0, 0, 0.14);
}