.SearchResults {
    background-color: white;
    border-radius: 4px;
}

.SearchResult {
    padding: 6px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow-x: hidden;
    cursor: default;
    font-size: 14px;
}

.SearchResult:hover {
    background-color: rgba(0, 0, 0, 0.15);
}

.SearchResult-Image {
    height: 20px;
    margin: 0 12px 0 6px;
    vertical-align: middle;
}

.SearchResult-Name {
    vertical-align: middle;
}

.SearchResult-Id {
    color: rgba(0, 0, 0, 0.7);
    vertical-align: middle;
    margin-left: 8px;
}